pkgbase = linux-aarch64-msc
	pkgver = 6.15.8
	pkgrel = 1
	url = https://kernel.org
	arch = aarch64
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = dtc
	makedepends = uboot-tools
	makedepends = pahole
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.15.8.tar.xz
	source = config
	source = 2001-rk3588-rock-5b-rename.patch
	source = 2002-rk3588-rock-5b-add.patch
	source = 2003-rk3588-rock-5b-plus-add.patch
	source = 2004-rk3588-rock-5b-and-plus-add-usb-c.patch
	source = 2005-rk3588-rock-5b-plus-bindings.patch
	sha256sums = d37e92bc16b962a3025df156647bdad90b2db4ff36c7a6137817fe81ef3f28a6
	sha256sums = 6f7cf91ea873fadf0672bdf17e5f9839c92d93edd23929a7f75a7b3f5fc5d477
	sha256sums = c612742cb241011cfc220531f34767ddd44b9f42030e442bdce44dce8e6f3efc
	sha256sums = f8da637f1f11ceafa63dfb3df722895af38c95cc3dc1f67efe595b88f1bc8c11
	sha256sums = 6b57191105cd1b284c4c84b416c855962c94b01e031001c4e3e388e1ab7eb495
	sha256sums = 7b43d52a9ac9df50eb10516eb387ba67072a2c658a255498f76688ea73b9691f
	sha256sums = eb4017c761669cce6e1742ad2797281dbff84dc15b916e6f2666d0e19537af7d

pkgname = linux-aarch64-msc
	pkgdesc = The Linux Kernel and module - almost mainline but with MSC's patches, Rockchip
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = uboot-legacy-initrd-hooks: to generate uboot legacy initrd images
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = linux-firmware-amlogic-ophub: complete firmware set for devices with Amlogic SoCs
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-aarch64-msc-headers
	pkgdesc = Header files and scripts for building modules for linux kernel - almost mainline but with MSC's patches, Rockchip
	depends = pahole
