pkgbase = linux-aarch64-msc
	pkgver = 6.17.9
	pkgrel = 2
	url = https://kernel.org
	arch = aarch64
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = dtc
	makedepends = uboot-tools
	makedepends = pahole
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.17.9.tar.xz
	source = config
	source = rk3399-orangepi-4-lts.dts
	source = 0001-general-fix-mmc-signal-voltage-before-reboot.patch
	source = 0002-driver-power-meson64-reset.patch
	source = 0003-board-odroid-sm1-reset.patch
	source = 1000-arm64-dts-rockchip-Makefile.patch
	source = rk3399-enable-dwc3-xhci-usb-trb-quirk.patch
	source = rk3399-sd-drive-level-8ma.patch
	source = rk3399-sd-pwr-pinctrl.patch
	source = rk3399-unlock-temperature.patch
	source = rk3399-add-sclk-i2sout-src-clock.patch
	sha256sums = 6d08803b953c509df48d44d3281ed392524321d8bb353eb21c0555790c8f8e06
	sha256sums = 481918d5b803bc8495a557dad87e847d5c10a1e390f30cd722378f85ab535976
	sha256sums = 0e51da441df45c246724343cd943fabbbe46ed8f38e38d78bb54fc0177e4ffbb
	sha256sums = a47010a1b4d730ee8205dfb9c2adf83db3829a9d57280fd6d6fee00fce84e365
	sha256sums = 8fe15ad63aef62d98c59e8c60e797ffd2237096beb334e0a4f407db859754389
	sha256sums = 1eb6cc0f5a656f7717356e75613eb49fa1f37379b5f6a8abc238da67a8a25e70
	sha256sums = b095ce02dfe8a2bf17ad4a4cc2b1b7bcaec5c42bf13a82acc92c51370fd62583
	sha256sums = 43083eaf643995f414ee9d6463bb4ca3857d122e9e1a165c5f3ef0c2007fb2fe
	sha256sums = 2d57b54f7d59969640e9c80e9f3e23230619fcd056d69995416f4781f6b3ae64
	sha256sums = e806fbe6129275bc159f7dde2a31620d906a8a8090b4bd03b6af35f69fc7951a
	sha256sums = 88111ef3c9079d36287dff21095acf059950f61d5401c7de6e7d67b46e020da9
	sha256sums = bcf7c0f42dae5a6dce3fc20ce83b5b83fca3646ebe09b1a4e7a1a82e573a2d87

pkgname = linux-aarch64-msc
	pkgdesc = The Linux Kernel and module - almost mainline but with MSC's patches, Rockchip
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = uboot-legacy-initrd-hooks: to generate uboot legacy initrd images
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = linux-firmware-amlogic-ophub: complete firmware set for devices with Amlogic SoCs
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-aarch64-msc-headers
	pkgdesc = Header files and scripts for building modules for linux kernel - almost mainline but with MSC's patches, Rockchip
	depends = pahole
