pkgbase = linux-aarch64-msc-rc
	pkgver = 6.13.rc6
	pkgrel = 2
	url = https://kernel.org
	arch = aarch64
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = dtc
	makedepends = uboot-tools
	makedepends = pahole
	options = !strip
	source = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/snapshot/linux-6.13-rc6.tar.gz
	source = config
	source = 1001-rk3588-orangepi-5-plus-enable-usb-30-ports.patch
	source = 1002-rk3588-orangepi-5-plus-refactor-common.patch
	source = 1003-rk3588-orangepi-5-max-bindings.patch
	source = 1004-rk3588-orangepi-5-max.patch
	sha256sums = 72ea3f321bf17e34ff01cfc3562ea8164b19b343805d52b4d84cbdb4b3114d7f
	sha256sums = 059a48dcf64491426da929dadf84f6ba40d8dfc949bc7970bef511f691b75c29
	sha256sums = febb09d31b98d5416854a525c8d835da828a9ea28fa084e2e6feceaf4e2eaf33
	sha256sums = 501d9c3cde6dacd22aa5c23787ca1d97573c9a7169d1a6706f6bcc4da0562fdf
	sha256sums = c062e6394b215052866e6cf30b5979f2ba8b33698c2c71d5d0bc24b66dffe561
	sha256sums = e56a60dd48c63195d9aa90235da19e5146f6175ff29847e9f4600a8dea6b4fab

pkgname = linux-aarch64-msc-rc
	pkgdesc = The Linux Kernel and module - almost mainline but with MSC's patches, Rockchip
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = uboot-legacy-initrd-hooks: to generate uboot legacy initrd images
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = linux-firmware-amlogic-ophub: complete firmware set for devices with Amlogic SoCs
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-aarch64-msc-rc-headers
	pkgdesc = Header files and scripts for building modules for linux kernel - almost mainline but with MSC's patches, Rockchip
	depends = pahole
