pkgbase = uboot-rk3576-nanopi-r76s
	pkgdesc = U-Boot for FriendlyElec NanoPi R76S
	pkgver = 2026.07rc4
	pkgrel = 2
	url = http://www.denx.de/wiki/U-Boot/WebHome
	install = uboot-rk3576-nanopi-r76s.install
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = gcc-arm-none-eabi-bin
	makedepends = dtc
	makedepends = bc
	makedepends = python-setuptools
	makedepends = swig
	provides = uboot
	conflicts = uboot
	source = ftp://ftp.denx.de/pub/u-boot/u-boot-2026.07-rc4.tar.bz2
	source = https://github.com/ARM-software/arm-trusted-firmware/archive/refs/tags/v2.15.0.tar.gz
	source = https://raw.githubusercontent.com/rockchip-linux/rkbin/57296ad286255d98a3d409036a4b8560b6013b7d/bin/rk35/rk3576_ddr_lp4_2112MHz_lp5_2736MHz_v1.08.bin
	source = https://raw.githubusercontent.com/rockchip-linux/rkbin/cc3452e077f62a2e21e92fcc978d1b0ea19a1e33/bin/rk35/rk3576_bl31_v1.20.elf
	source = add-nanopi-r76s-support.patch
	sha256sums = 4f2af0828b4dad5ac22d151ba1a96faa766349900f224c66cf0ddf34cf7f4a41
	sha256sums = ec4d6779225c5243a05dd190cd25c06ae79bec293afea780f0eb63541341a505
	sha256sums = 7403cf1663d4b0c9d7c692014e0852e60f0d3977209ec75fa755c293f54e2d50
	sha256sums = 34f875f6cc4fd2a633e08dcbe9f4f031ddf95a1bf6d5eaeb7621ac750d997cac
	sha256sums = 39fc8d2f8d4af6630442cdbcb5d81c5f3927264d5f4a214b8571aae9561eeac2

pkgname = uboot-rk3576-nanopi-r76s
