pkgbase = uboot-odroid-hc4-mainline
	pkgdesc = Mainline U-Boot for ODROID-HC4
	pkgver = 2025.10
	pkgrel = 2
	url = https://github.com/hardkernel/u-boot
	install = uboot-odroid-hc4-mainline.install
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = bc
	makedepends = qemu-user
	depends = uboot-tools
	provides = uboot
	conflicts = uboot
	backup = boot/boot.ini
	source = ftp://ftp.denx.de/pub/u-boot/u-boot-2025.10.tar.bz2
	source = git+https://github.com/LibreELEC/amlogic-boot-fip.git
	md5sums = e46082f49c7b845d3146b4015fc8c34d
	md5sums = SKIP

pkgname = uboot-odroid-hc4-mainline
